*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(6, 65px);
  grid-template-rows: minmax(125px, auto) repeat(5, 95px);
}

.calc-grid > button {
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.75);
  outline: none;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 3px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #21252b;
  font-weight: bold;
}

.toStyle {
  color: #635994;
  font-weight: bold;
}

.calc-grid > button:hover {
  background-color: rgba(225, 225, 225, 1);
}

.doubleSpan {
  grid-column: span 2;
}

.calc-output {
  grid-column: 1 / -1;
  background-color: rgba(25, 125, 125, 0.8);
  border: none;
  font-size: 2rem;
  text-align: right;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

.pre-Calc {
  font-size: 1.5rem;
  color: rgba(255, 255, 225, 0.75);
}

.cur-Calc {
  font-size: 2.5rem;
  color: rgba(225, 225, 225, 1);
}
